# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# User-specific files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved
*.xcscmblueprint

# CocoaPods
Pods/
*.podspec
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Backup files
*.orig
*.bak
*~.nib
*.swp
*.swo
*~

# Temporary files
.tmp/
.temp/
